<div id="vins" class="transitions-enabled">
  <% @vins.each do |vin| %>
  <div class="box panel panel-default">
      <%= image_tag vin.image.url(:medium) %>
      <div class="panel-body">
        <%= vin.description %>
        <%= vin.user.email if vin.user %>
        <%= link_to 'Show', vin %>
        <% if vin.user == current_user %>
        <%= link_to 'Edit', edit_vin_path(vin) %>
        <%= link_to 'Destroy', vin, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>