<%= render 'pages/home' unless user_signed_in? %>

<div id="vins" class="transitions-enabled">
  <% @vins.each do |vin| %>
  <div class="box panel panel-default">
      <%= link_to image_tag(vin.image.url(:medium)), vin %>
      <div class="panel-body">
        <p><%= vin.description %></p>
        <p><strong><%= vin.user.email if vin.user %></strong></p>
        <% if vin.user == current_user %>
         <div class="actions">
          <%= link_to edit_vin_path(vin) do %>
          <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to vin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>