<%= link_to 'Back', vins_path %>

<div class="row"> 
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @vin.image.url(:medium) %>
			</div>
			
				<p><%= @vin.description %></p>
				<p><strong><%= @vin.user.name if @vin.user %></strong></p>
				<div class="btn-group">
      <%= link_to like_vin_path(@vin), method: :put, class: "btn btn-xs" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= @vin.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_vin_path(@vin), method: :put, class: "btn btn-xs" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= @vin.get_downvotes.size %>
      <% end %>
    </div>

				<% if @vin.user == current_user %>
				<%= link_to edit_vin_path(@vin) do %>
				<span class="glyphicon glyphicon-edit"></span> Edit
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
